<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MDS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <MDS.Properties.Settings>
            <setting name="MDSCore_MDSAppWebServiceRef_MDSAppService" serializeAs="String">
                <value>http://localhost:2111/MDSWebServiceInterface/MDSAppService.asmx</value>
            </setting>
        </MDS.Properties.Settings>
    </applicationSettings>
</configuration>