<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!--
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date [%thread] %logger - %message%newline" />
      </layout>
    </appender>
    -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="Logs/MDSManager-Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
      </layout>
    </appender>
    <!--<appender name="TelnetAppender" type="log4net.Appender.TelnetAppender" >
      <port value="4444" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date [%thread] %logger - %message%newline" />
      </layout>
    </appender>-->
    <root>
      <appender-ref ref="RollingFileAppender" />
      <!--<appender-ref ref="TelnetAppender" />-->
    </root>
  </log4net>
</configuration>